body {
  font-family: Arial, sans-serif;
  background-color: rgb(100, 205, 231);
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 128px;
}

header .logo {
  display: block;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #00b652;
}

header nav ul li {
  display: inline-block;
  margin-left: 10px;
}

header nav ul li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
  background-color: #444;
}

header nav .search-form {
  float: right;
  margin-left: 10px;
}

header nav .search-form input {
  width: 150px; /* adjust to desired width */
  height: 30px; /* adjust to desired height */
  padding: 0 10px; /* adjust the padding */
  border: none; /* remove border */
  border-radius: 5px; /* add border-radius */
  font-size: 14px; /* adjust font size */
}

header nav .search-form button {
  width: 40px; /* adjust to desired width */
  height: 38px; /* adjust to desired height */
  background-color: #4d4545; /* adjust the background color */
  color: #fff; /* adjust the text color */
  border: none; /* remove border */
  border-radius: 0px; /* add border-radius */
  font-size: 14px; /* adjust font size */
  cursor: pointer; /* add cursor */
  padding: 0 10px; /* adjust the padding */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  height: 30px;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

article {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article h1 {
  margin: 0;
  font-size: 24px;
}

article p {
  margin: 20px 0;
  font-size: 16px;
}

article footer p {
  margin: 0;
  font-size: 14px;
}

article footer a {
  color: #333;
  text-decoration: none;
}

article footer a:hover {
  text-decoration: underline;
}

.neon {
  color: rgb(161, 172, 14);
  text-shadow: 0 0 10px #e03e0d, 0 0 20px #e03e0d, 0 0 30px #e03e0d, 0 0 40px #ff0066, 0 0 70px #ff0066, 0 0 80px #ff0066, 0 0 100px #ff0066, 0 0 150px #ff0066;
}

/*.main-content {
  float: left;
  width: 70%;
}

.sidebar-nav{
  background-color: #ccc;
  float: right;
  width: 25%;
  padding: 20px 2.5%;
}*/

main {
  flex: 1;
}

.sidebar {
  width: 300px;
  background-color: #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  float:right;
}

.sidebar h2 {
  margin: 0;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: #333;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 1vh;}

